<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title>Test</title>
</head>
<body>
<div id="{{ root }}">
{% for children.1 %}
<div class="{{ root }}_{{ children.1 }}">
<div class="{{ root }}_title">
{{ children.1 }}
</div>
{% for children.2 %}
<div class="{{ root }}_{{ children.2 }}">
{% if children.2 == "Type" %}
{{ children.2 }}: <img src="{{ children.2.value }}"/>
{% elif children.2 == "HP" %}
<a href="{{ root }}/{{ children.2 }}">{{ children.2 }}: {{ children.2.value }}</a>
{% elif children.2.value == 0 %}
<div style="color: red">{{ children.2 }}: {{ children.2.value }}</div>
{% else %}
{{ children.2 }}: {{ children.2.value }}
{% endif %}
</div>
{% endfor %}
</div>
{% endfor %}
</div>
</body>
</html>
