.players {
  background-color: #00bbbb;
  color: #cccccc;
  border-radius: 5px;
}

.players__hp {
  background-color: #00dd00;
  color: #ffffff;
}

.players__mp {
  background-color: #0000dd;
  color: #ffffff;
}

.players__bonus {
  background-color: #dddd00;
  color: #ffffff;
}

.players__score {
  background-color: #dd0000;
  color: #ffffff;
}

.players_title{
  color: #000000;
  border-radius: 5px;
  background-color: #ffffff;
}

