.jsov_div {
  display: inline-block;
  padding: 4px;
  margin: 6px;
}

.jsov_table {
  border-collapse: collapse;
}

.jsov_tr {
  border-bottom: 8px solid #00206a;
}

.jsov_td {
  padding: 4px;
}

.jsov_linkbox a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
}

.block__border {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 5px;
  background-color: #00206a;
  padding: 8px;
}

.Players {
  background-color: #00bbbb;
  color: #cccccc;
  border-radius: 5px;
}

.Players__HP {
  background-color: #00dd00;
  color: #ffffff;
}

.Players__Score {
  background-color: #dd0000;
  color: #ffffff;
}

.Players__MP {
  background-color: #6600dd;
  color: #ffffff;
}

.Players__Bonus {
  background-color: #bbbb00;
  color: #ffffff;
}

.Players_title {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}

